name: First Workflow

on: push
jobs: 
    first-job:
        runs-on: ubuntu-latest
        steps:
                        
        - name: Checkout Repo
          uses: actions/checkout@v5
          
        - name: Call Dragon
          run: |
            chmod +x dragon.sh
            ./dragon.sh